.dkui-application {
  &-overflow {
    height: 100%;
  }

  &-views,
  &-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-view {
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}